@charset 'UTF-8';

* {
  margin: 0;
  padding: 0;
  font-family: "San Francisco500";
}
img {
  width: 100%;
  display: block;
}
.wrap {
  width: 100%;
  max-width: 385px;
  height: 100vh;
  max-height: 844px;
  position: relative;
  color: #fff;
  overflow: hidden;
}
.header {
  width: 100%;
}
.header img {
  width: 100%;
  display: block;
}
.profile {
  max-width: 385px;
  padding: 14px 17px 8px;
}
.profile .profile_main {
  display: flex;
}
.profile .profile_main .thum {
  width: 100%;
  max-width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: black;
  margin-right: 10px;
  overflow: hidden;
}
.profile .profile_main .thum img {
  width: 100%;
  display: block;
}
.profile .profile_main .profile_txt {
  font-size: 13.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile .profile_main .profile_txt .profile_title {
  font-weight: 600;
  opacity: 0.78;
}
.profile .profile_main .profile_txt .profile_title span {
  font-weight: 500;
  opacity: 1;
}
.profile .profile_main .profile_txt .price {
  font-weight: 600;
  color: #000;
}
.profile .profile_main .profile_txt .price .price_letter {
  opacity: 0.78;
}
.profile .profile_main .profile_txt .price .price_txt {
  color: #95999d;
  font-weight: 500;
  opacity: 1;
}
.profile .profile_icon {
  width: 100%;
  /* max-width: 102px; */
  max-width: 102px;
  margin-top: 9px;
}
.profile .profile_icon img {
  width: 100%;
  display: block;
}
.main {
  width: 100%;
  max-width: 385px;
  height: 100vh;
  max-height: 844px;
  overflow: auto;
  color: #000;
}
.main .pay {
  width: 100%;
  display: block;
}
.main .datatime {
  font-size: 13px;
  color: #9da1a4;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 14px;
}
.main .meChat_wrap {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-right: 17px;
  margin-bottom: 6px;
}
.main .meChat_wrap span {
  display: block;
}

.main .meChat_wrap .meChat_data {
  font-size: 12px;
  color: #c5c6ca;
  margin-right: 4px;
}
.main .meChat_wrap .meChat {
  max-width: 260px;
  color: #fff;
  background-color: #ff6f0f;
  font-size: 14px;
  padding: 10px;
  border-radius: 16px;
}
.main .sellChat_wrap {
  display: flex;
  align-items: end;
  margin-left: 17px;
}
.main .sellChat_wrap span {
  display: block;
}
.main .sellChat_wrap .sellProfile {
  width: 32px;
  height: 32px;
  border: 1px solid #dcdee3;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 6px;
}
.main .sellChat_wrap .sellChat {
  max-width: 260px;
  color: #212124;
  background-color: #eaebee;
  font-size: 14px;
  padding: 10px;
  border-radius: 16px;
  margin-bottom: 6px;
}
.main .sellChat_wrap .sellChat_data {
  font-size: 12px;
  color: #c5c6ca;
  margin-left: 4px;
}
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer img {
  width: 100%;
  display: block;
}
@font-face {
  font-family: "San Francisco100";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco200";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco400";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco500";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco600";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */
@font-face {
  font-family: "San Francisco700";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}
